.layout {
  display: grid;
  grid-template:
    'info-box info-box tree-view' 0.3fr
    'ontology-graph ontology-graph tree-view' auto
    'ontology-graph ontology-graph workspace' 1fr / 1fr 1fr 1fr;
  height: 100vh;
  gap: 10px;
  background-color: white;
}

.search-bar {
  grid-area: search-bar;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.tree-view {
  grid-area: tree-view;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.ontology-graph {
  grid-area: ontology-graph;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.info-box {
  grid-area: info-box;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.node-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.node-info {
  flex: 1;
}

.add-button {
  margin-top: 6px;
  margin-left: auto; /* Aligns it to the right */
}

.workspace {
  grid-area: workspace;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.export-controls {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.export-control {
  margin-bottom: 15px;
}

.export-control label {
  margin-right: 10px;
}

.export-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #0056b3;
}

.export-button:active {
  background-color: #004494;
}

.search-bar {
  display: flex;
  margin-bottom: 10px;
}

.search-bar input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button,
.info-box button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover,
.info-box button:hover {
  background-color: #0056b3;
}

/* Disabled button style */
.info-box button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
