.layout {
  display: grid;
  grid-template:
    'tree-view tree-view info-box' auto
    'ontology-graph ontology-graph info-box' 1fr
    'ontology-graph ontology-graph workspace' 1fr / 1fr 1fr 1fr;
  height: 90vh;
  gap: 10px;
  background-color: white;
}

.search-bar {
  grid-area: search-bar;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.tree-view {
  grid-area: tree-view;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.ontology-graph {
  grid-area: ontology-graph;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.info-box {
  grid-area: info-box;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.workspace {
  grid-area: workspace;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  background-color: whitesmoke;
}

.search-bar {
  display: flex;
  margin-bottom: 10px;
}

.search-bar input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button,
.info-box button{
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover,
.info-box button:hover{
  background-color: #0056b3;
}

/* Disabled button style */
.info-box button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
